<div class="auth-form">
  <h1><%= title %></h1>

  <!-- Flash Message -->
  <% if (message) { %>
   <div class="alert alert-error"><%= message %></div>
<% } %>

<!-- Login Form -->
<form action="/account/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">LOGIN</button> 
</form>

    <div class="register-link">
      <p>No account? <a href="/account/register">Sign-up</a></p>
    </div>
</div> 

