<h2>Welcome to CSE Motors!</h2>

<%- messages() %>
    
<!-- Hero Section -->
<section class="hero">
    <img src="/images/vehicles/delorean-tn.jpg" alt="DMC Delorean">
    <div class="hero-text">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a href="/purchase" class="own-today-btn">
            <img src="/images/site/own_today.png" alt="Own Today button">
        </a>
    </div>
</section>

<!-- Main Sections -->
<div class="main-sections">

    <!-- Reviews Section -->
    <section class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it." (5/5)</li>
        </ul>
    </section>

    <!-- Upgrades Section -->
    <section class="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="upgrade-grid">
            <div class="upgrade-item">
                <div class="upgrade-image-wrapper">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <p>Flux Capacitor</p>
            </div>
            <div class="upgrade-item">
                <div class="upgrade-image-wrapper">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <p>Flame Decals</p>
            </div>
            <div class="upgrade-item">
                <div class="upgrade-image-wrapper">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <p>Bumper Stickers</p>
            </div>
            <div class="upgrade-item">
                <div class="upgrade-image-wrapper">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <p>Hub Caps</p>
            </div>
        </div>
    </section>
  </div> 
</main>