<section class="management-view">
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

<%- messages() %>

<a href="/inv/add-class">Add New Classification</a>
<a href="/inv/add-item">Add New Vehicle</a>

    <a href="/inv/edit/2" title="Click to update">Modify</a>
    <a href="/inv/delete/2" title="Click to delete">Delete</a>

            
</section>